<form>
    <label>
        <input type="checkbox" ng-model="config.cpanel.enabled" ng-disabled="loading">
        <span>Allow Todo Access in cPanel</span>
    </label>
    <span class="help-block">Users may manage their own list of TODO items from cPanel</span>
    <label>
        <input type="checkbox" ng-model="config.webmail.enabled" ng-disabled="true">
        <span>Allow Todo Access in WebMail - <strong>NOT SUPPORTED IN THIS EXAMPLE</strong></span>
    </label>
    <span class="help-block">Users may manage their own list of TODO items from WebMail</span>
    <label>
        <input type="checkbox" ng-model="config.whm.enabled" ng-disabled="true">
        <span>Allow Todo Access in Web Host Manager</span>
    </label>
    <span class="help-block">Users may manage their own list of TODO items from Web Host Manager - <strong>NOT SUPPORTED IN THIS EXAMPLE</strong></span>
    <button ng-click="save()" ng-disabled="loading">
        Save
    </button>
    <button ng-click="load()" ng-disabled="loading">
        Reload
    </button>
</form>
