<html>
    <head>
        <title>Configure Todo Services</title>
        <link rel="stylesheet" type="text/css" href="config.css">
    </head>
    <body>
        <form>
             <label>
               <input type="checkbox" value="">
               <span>Allow Todo Access in cPanel</span>
             </label>
             <span class="help-block">Users may manage their own list of TODO items from cPanel</span>
             <label>
               <input type="checkbox" value="">
               <span>Allow Todo Access in WebMail</span>
             </label>
             <span class="help-block">Users may manage their own list of TODO items from WebMail</span>
             <label>
               <input type="checkbox" value="">
               <span>Allow Todo Access in Web Host Manager</span>
             </label>
             <span class="help-block">Users may manage their own list of TODO items from Web Host Manager</span>
        </form>
    </body>
</html>
