<html>
    <head>
        <title>Configure Todo Services</title>
        <link rel="stylesheet" type="text/css" href="config.css">
    </head>
    <body>
        <form class="layout-medium">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <toggle-label-info
                             label-text=""
                             show-info-block="true">
                             <!-- Information text -->
                        </toggle-label-info>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" value="">
                           <span>Allow Todo Access in cPanel</span>
                         </label>
                         <span class="help-block">Users may manage their own list of TODO items from cPanel</span>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" value="">
                           <span>Allow Todo Access in WebMail</span>
                         </label>
                         <span class="help-block">Users may manage their own list of TODO items from WebMail</span>
                       </div>
                       <div class="checkbox">
                         <label>
                           <input type="checkbox" value="">
                           <span>Allow Todo Access in Web Host Manager</span>
                         </label>
                         <span class="help-block">Users may manage their own list of TODO items from Web Host Manager</span>
                       </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <!-- not validating you -->
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
